html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

.container > div.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: #FFFFFF;
    opacity: 0.8;
    padding: 10px; 
    margin: 20px;
    width: 250px;
    height: 300px; 
}

.container > div.sidebar > div.sidebar-content {
    padding-left: 15px;
    padding-right: 10px;
}

.container > div.sidebar > div.sidebar-content > h3 {
    font-family: 'Roboto', cursive;
    font-size: 24px;
    padding-bottom: 0px;
}

div.sidebar-content > h4 {
    font-family: 'Arial', sans-serif;
}

.container > div.sidebar > div.sidebar-content > p {
    font-size: 14px;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    padding-right: 10px;
}

.container, .container > div, .container > div #map-canvas {
    height: inherit;
    position: relative;
}

ul {
    list-style: none;
    margin-top: -10px;
    padding-left: 0px;
    font-size: 1rem;
    line-height: 1.125;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

ul li {
    padding-bottom: 5px; 
}

.container > div.sidebar > div.sidebar-content > div.div-ruler {
    border-top: 1px solid #e3e5e8;
    margin-top: -10px;
}

input[type="radio"] {
    margin-right: 10px;
  }